<div id="actions_menu" class="menu">
    <p><a class="action" href="{% url graphview.views.relayout %}">Relayout</a></p>
    <p><a class="action" href="{% url graphview.views.reset %}">Reset graph</a></p>
    <p><a class="action" href="{% url graphview.views.save_state %}">Save graph state</a></p>
    <p><a class="action" href="{% url graphview.views.load_state %}">Load graph state</a></p>
    <p><a class="action" href="{% url graphview.views.delete_isolated %}">Delete isolated nodes</a></p>
</div>

