{% extends "graphview/base.html" %}

{% block javascript_imports %}
<script language="javascript" src="/site_media/raphael-min.js"></script>
<script language="javascript" src="/site_media/graph-algorithms.js"></script>
<script language="javascript" src="/site_media/graph-canvas.js"></script>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8"> 
        var selected_node;
        var selected_edge;
        var terminal;
        var gdata = eval({{ json_graph|safe }});
        var raphael;

        function delete_node(response) {
            function fsuccess(response) {
                nodes = response['node_list'];
                edges = gdata["edges"];
                for(var i in nodes) {
                    node_id = nodes[i];
                    delete gdata["nodes"][node_id];
                    for (var j in edges) {
                        if (edges[j].node1 == node_id || edges[j].node2 == node_id) {
                            delete edges[j];
                        }
                    }
                    raphael.remove_node(nodes[i]);
                }
            }
            function ferror(response) {
                alert('ERROR deleting node');
            }
            if (multiselection) {
                multiselection = false;
                url = "{% url graphview.views.delete_nodes 'JVAR' %}".replace('JVAR', multiselection_table);
            } else {
                url = "{% url graphview.views.delete_nodes 'JVAR' %}".replace('JVAR', selected_node);
            }
            $.ajax({url: url,
                    type:"GET",
                    dataType:"json",
                    success: fsuccess,
                    error: ferror});
        }

        function delete_edge() {
            function fsuccess(response) {
                for (var i in edges) {
                    if (edges[i].node1 == node1 || edges[i].node2 == node2) {
                        delete edges[i];
                        raphael.remove_edge(node1, node2);
                        break;
                    }
                }
            }
            function ferror(response) {
                alert('ERROR deleting node');
            }
            edge = gdata.edges[selected_edge];
            node1 = edge['node1'];
            node2 = edge['node2'];
            edge_data = node1 + "," + node2;
            url = "{% url graphview.views.delete_edges 'JVAR' %}".replace('JVAR', edge_data);
            $.ajax({url: url,
                    type:"GET",
                    dataType:"json",
                    success: fsuccess,
                    error: ferror});
        }

        function expand_node() {
            function fsuccess(response) {
                gdata = response['new_gdata'];
                raphael.update(gdata);
            }
            function ferror(response) {
                alert('ERROR expanding node');
            }
            if (multiselection) {
                multiselection = false;
                url = "{% url graphview.views.expand_nodes 'JVAR' %}".replace('JVAR', multiselection_table);
            } else {
                url = "{% url graphview.views.expand_nodes 'JVAR' %}".replace('JVAR', selected_node);
            }
            $.ajax({url: url,
                    type:"GET",
                    dataType:"json",
                    success: fsuccess,
                    error: ferror});
        }

        function toggle_nodes(node_types) {
            url = "{% url graphview.views.toggle_nodes '123' %}".replace('123', node_types);
            self.location.href=url;
        }

        function multi_select() {
            if (!multiselection) {
                multiselection_table = []
                multiselection_table.push(selected_node);
                multiselection = true;
            } else {
                multiselection = false;
            }
        }
        
        function refresh_labels() {
            new_label_field = document.getElementById('label_field_id').value;
            toggle_labels(new_label_field);
        }

        function resize_canvas() {
            width = parseInt(document.getElementById('width_value').value);
            height = parseInt(document.getElementById('height_value').value);
            console.log("%s - %s", width, height);
            document.getElementById('canvas').style.width = width;
            document.getElementById('canvas').style.height = height;
            raphael.set_size(width, height);
        }
        
    </script> 
{% endblock %}

{% block raphael %}
    <script type="text/javascript" charset="utf-8">
        window.onload = function () {
            raphael = new RaphaelGraph(gdata);
            raphael.draw("circular");
            terminalWidget = document.getElementById('query');
            terminalWidget.onkeydown = onKeyDown;
        }
    </script>
{% endblock %}

{% block content %}
    {% include "graphview/menu.html" %}
    <div id="content">
        <div id="canvas"> </div>
        <div id="info">
            {% block extra_controls %}{% endblock %}
            <div id="infoTable"></div>
        </div>
        <div id="floating_menus">
            <div id="topics_menu" class="menu">
                {% for key, style in node_style_list %}
                    <input type="checkbox" onclick="toggle_nodes('{{ key }}')" 
                        {% if style.show %}checked{% endif %}>
                            <span style="color:{{ style.color }}">
                                {{ style.label }}
                            </span><br>
                {% endfor %}
            </div>
            <div id="labels_menu" class="menu">
                <input type="text" id="label_field_id"/>
                <input type="checkbox" onClick="refresh_labels()"/>
            </div>
            <div id="layouts_menu" class="menu">
                    <select id="layout_type">
                        <option value="spring">Spring layout</option>
                        <option value="circular">Circular layout</option>
                        <option value="ARF">ARF layout</option>
                        <option value="shell">Shell layout</option>
                        <option value="random">Random layout</option>
                    </select>
                    <input type="button" value="Relayout" onclick="raphael.draw(getElementById('layout_type').value);"/>
            </div>
            <div id="options_menu" class="menu">
                <table>
                    <tr>
                        <td>
                            Width:
                        </td>
                        <td>
                            <input id="width_value" type="text" value="800" size="5"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Height:
                        </td>
                        <td>
                            <input id="height_value" type="text" value="800" size="5"/>
                        </td>
                        <td>
                            <input type="button" value="Resize" onclick="resize_canvas()"/>
                        </td>
                    </tr>
                </table>
            </div>
            {% include "graphview/actions.html" %}
            <div id="floating_node_menu" onmouseout="this.style.display='none'"
                               onclick="this.style.display='none'"
                               onmouseover="this.style.display='block'">
                <button id="delete_node" onclick="delete_node()">Delete node</button>
                <br/>
                <button id="expand_node" onclick="expand_node()">Expand node</button>
                <br/>
                <button id="multiselect_node" onclick="multi_select()">Multi selection</button>
            </div>
            <div id="floating_edge_menu" onmouseout="this.style.display='none'"
                               onclick="this.style.display='none'"
                               onmouseover="this.style.display='block'">
                <input id="delete_edge" type="button" value="Delete node" onclick="delete_edge()"/>
                <br/>
            </div>
            <div id="dataset_info_menu" class="menu">
                <table class="dataset">
                    <tr>
                        <td>Name: </td>
                        <td>{{ dataset.name }}</td>
                    </tr>
                    <tr>
                        <td>Description: </td>
                        <td>{{ dataset.description }}</td>
                    </tr>
                    {% for key, value in metadata_list %}
                        <tr>
                            <td>
                                {{ key }}
                            </td>
                            <td>
                                {{ value }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottombar %}
<div id="query_menu" class="menu query_menu">
    <form action="{% url graphview.views.interactor_query %}"" method="post">
        <input id="query" name="query" type="text" size="60"/>
        <input id="btn_query" type="submit" value="Query"/>
        <input id="cncl_query" type="button" value="Cancel" onClick="toggle('query')"/>
    </form>
</div>
{% endblock %}
