<h4 id="info-header">Element</h4>
<table>
    <tr>
        <td id="id-label"></td>
        <td id="ID"></td>
    </tr>
    <tr>
        <td id="info-0-label"></td>
        <td id="info-0"></td>
    </tr>
    <tr>
        <td id="info-1-label"></td>
        <td id="info-1"></td>
    </tr>
        <td id="info-2-label"></td>
        <td id="info-2"></td>
    </tr>
    <tr>
        <td id="info-3-label"></td>
        <td id="info-3"></td>
    </tr>
    <tr>
        <td id="info-4-label"></td>
        <td id="info-4"></td>
    </tr>
    <tr>
        <td id="info-5-label"></td>
        <td id="info-5"></td>
    </tr>
    <tr>
        <td id="info-6-label"></td>
        <td id="info-6"></td>
    </tr>
    <tr>
        <td id="info-7-label"></td>
        <td id="info-7"></td>
    </tr>
</table>
<input id="delete" type="button" value="Delete node" disabled="true" onclick="delete_node()"/>
<input id="expand" type="button" value="Expand node" disabled="true" onclick="expand_node()"/>
