{% extends "graphview/explorer.html" %}

{% block javascript_imports %}
<script language="javascript" src="/site_media/processing.init.js"></script>
<script language="javascript" src="/site_media/processing.min.js"></script>
<script language="javascript" src="/site_media/jquery-1.3.2.min.js"></script>
{% endblock %}

{% block raphael %}{% endblock %}

{% block processing %}
    <script type="text/javascript" charset="utf-8"> 
        var nodeTable = {};
        var multiselection = false;
    </script> 
    <script type="application/processing">
        {% include "graphview/graph.pjs" %}
    </script>
{% endblock %}

{% block content %}
    <div id="content">
        <canvas id="canvas" width="800px" height="600px"></canvas>
        <div id="info">
            {% include "graphview/actions.html" %}
        </div>
    </div>
{% endblock %}

{% block extra %}

{% endblock %}


