{% extends "graphview/explorer.html" %}

{% block menu %}
    <div id="menu">
        <h2>Plexigraph</h2>
        <h3>Neo4j</h3>
            <h3>Topics</h3>
            <div class="topics">
                {% for key, style in node_style_list %}
                    <input type="checkbox" onclick="toggle_nodes({{ key }})" 
                        {% if style.show %}checked{% endif %}>
                            <span style="color:{{ style.color }}">
                                {{ style.label }}
                            </span><br>
                {% endfor %}
            </div>
    </div>
{% endblock %}

{% block content %}
    <div id="content">
        {% if not showing_query %}
            <form action="." method="post">
                {{ form.as_p }}
                <input type="submit" value="Visualize"/>
            </form>
        {% endif %}
        <div id="canvas"> </div>
        <div id="info">
            {% include "graphview/actions.html" %}
            <div id="infoTable"></div>
            <div id="floating_node_menu" onmouseout="this.style.display='none'"
                               onclick="this.style.display='none'"
                               onmouseover="this.style.display='block'">
                <input id="delete_node" type="button" value="Delete node" onclick="delete_node()"/>
                <br/>
                <input id="expand_node" type="button" value="Expand node" onclick="expand_node()"/>
                <br/>
                <input id="multiselect_node" type="button" value="Multi selection" onclick="multi_select()"/>
            </div>
            <div id="floating_edge_menu" onmouseout="this.style.display='none'"
                               onclick="this.style.display='none'"
                               onmouseover="this.style.display='block'">
                <input id="delete_edge" type="button" value="Delete node" onclick="delete_edge()"/>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottombar %}
<div id="commandbar">
    <form action="interactor_query/" method="post">
        <input id="query" name="query" type="text" size="60"/>
        <input id="btn_query" type="submit" value="Query"/>
    </form>
</div>
{% endblock %}
