body {
background-image:url(background.png);
background-repeat:repeat-x;
}

#container{ 
text-align: left; 
width: 1200px;
margin: auto; 
}

#header{ 
height : 50px; 

}

#menu{
text-align: left; 
width: 180px; 
float:left;
padding: 10px;
}

#content{
width: 1000px;
float:right;
}

#canvas{
text-align: left; 
width: 800px;
float:left;
background-color: cornflowerblue;
}

#info{
text-align: left;
width: 180px;
padding: 5px;
/*background-color : #FFF790;*/
float: right;
}

#commandbar {
float: left;
padding-left:230px;
padding-top:10px;
}

table{
font-size: x-small;
}

.topics{
font-size: x-small;
background-color : #000000;
padding: 10px;
}

a.action{
font-size: x-small;
}

ul.actions {
list-style-type: none;
}

#floating
{
position: absolute;
display:none;

/*width:220px;
border:1px solid #808080;
background-color:#f1f1f1;*/
}
